.card{
    width: 350px;
    padding: 15px;
    border: 1px solid black;
}
.card img{
    width: 90%;
    height: 300px;
}
.card h3{
    margin: 15px 0;
}
.card h3,h2{
    color: black;
}